:root {
    --font-family: 'Courier New', Courier, monospace;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
}
