:root {
    --logo-width: 3rem;
    --bg-nav: hsl(0, 0%, 76%);
    --padding-inline-nav: 5%;
    --padding-block-nav: 0.5rem;
    --sub-menu-bg: hsla(0, 0%, 0%, 0.2);
    --padding: 1rem;
    --gap-nav-item: 2rem;
    --font-size-menu-header: 1.2rem;
    --width-dropdown-menu: clamp(160px, 200px, 240px);
    --font-family: 'Courier New', Courier, monospace;
    --padding-left-logo: 2rem;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
}

