:root {
    --font-family: 'Courier New', Courier, monospace;
    --width-logo: 1.5rem;
    --padding-nav-bar: 0.5rem 2rem;
    --padding-nav-link-div: 0.5rem 2rem;
    --width-dropdown: clamp(150px, 180px, 210px);
    --padding-dropdown-menu: 1rem;
    --gap-dropdown-menu: 1rem;
    --bg-nav-bar: hsl(208, 100%, 85%);
    --border-radius-dropdown-menu: 0 0 0.5rem 0.5rem;
}
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
}
.logo-div img {
    width: var(--width-logo);
}
.nav-bar {
    display: flex;
    padding: var(--padding-nav-bar);
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-nav-bar);
}
.nav-link-div {
    display: flex;
    gap: 3rem;
}
.link {
    border: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
}
.dropdown {
    position: relative;
    width: var(--width-dropdown);
    padding: var(--padding-nav-link-div);
}
.dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: calc(100% + 0.5rem);
    width: inherit;
    padding: var(--padding-dropdown-menu);
    gap: var(--gap-dropdown-menu);
    border-radius: var(--border-radius-dropdown-menu);
    background-color: hsl(from var(--bg-nav-bar) h s l / 0.4);
    backdrop-filter: blur(1rem);
    opacity: 0;
}
.dropdown.active > .dropdown-menu {
    opacity: 1;
    background-color: hsl(from var(--bg-nav-bar) h s l / 0.4);
    backdrop-filter: blur(1rem);
}
